@import url("../fonts/fonts.css");

:root {
  /* --main-bg-color: #cacaca; */
  --main-bg-color: #edf5e1;
  --hd-color: #05386b;
  --card-font-color: #000000;
  --btn-color: #2c7868;
  --tag-color: #5d001e;
  --card-bg-color: #8ee4af;
  --gray-bg-color: #d6d6d6;
}

.page {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1440px;
  color: #0b0c10;
  font-weight: 400;
  margin: 0 auto;
}

.page__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ------------------------------ */

.header {
  background-color: var(--main-bg-color);
  min-height: 60px;
  display: flex;
  justify-content: center;
}

.header__container {
  border-bottom: var(--hd-color) solid 2px;
  width: 80%;
  padding: 12px 0;
}

.header__title {
  margin: 0;
  color: var(--hd-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.content {
  background-color: var(--main-bg-color);
}

.card-box {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 20px 0;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 240px;
  padding: 20px;
  background-color: var(--card-bg-color);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
  color: var(--card-font-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__bookmark {
  position: absolute;
  top: -5px;
  right: 15px;
  display: block;

  fill: var(--main-bg-color);
  background-image: url(../images/bookmark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 32px;
}

.card__question {
  margin: 0;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.card__btn {
  background-color: var(--btn-color);
  border: none;
  border-radius: 10px;
  box-shadow: rgba(94, 94, 94, 0.3) 3px 3px 5px;
  width: 140px;
  height: 40px;
  color: var(--gray-bg-color);
  font-size: 16px;
}

.card__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card__answer {
  display: none;
}

/* .card__answer_visible {
  display: block;
  margin: 0;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
} */

.card__categories {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 8px;
}

.card__tag {
  border: #a4a4a4 solid 1px;
  padding: 5px;
  background-color: var(--gray-bg-color);
  color: var(--card-font-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
  font-size: 12px;
}

.footer {
  background-color: var(--main-bg-color);
}
