.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form__label {
  padding: 35px 0 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: var(--card-font-color);
}

.form__textarea {
  padding: 5px;
  border: 2px solid var(--card-font-color);
  border-radius: 10px;
  background-color: var(--count-color);
  background-color: var(--text-area-color);
  /* background-color: #fcbd96;
  background-color: #9fcce4;
  background-color: #edb5bf; */
}

.form__input {
  padding: 3px;
  border-radius: 5px;
  height: 25px;
}

.submit-btn {
  width: 120px;
  margin: 40px auto 0;
  padding: 0;
  height: 30px;
  align-self: end;
  border-radius: 5px;
  border: none;
  background-color: var(--btn-color);
  color: var(--main-bg-color);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px;
  transition: 0.2s ease;
}

.submit-btn:hover {
  box-shadow: none;
  cursor: pointer;
}

.submit-btn:active {
  width: 116px;
  height: 28px;
}
