.page {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1440px;
  color: #0b0c10;
  font-weight: 400;
  margin: 0 auto;
}

.page__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
